<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slam Dunk - Histoire</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="short icon" href="../public/img/logo_shohoku10.png">
</head>
<body>
    <aside>
        <div>
            <img style="width: 200px;" src="../public/img/logo_shohoku10.png" alt="logo shohoku">
        </div>
        <div style="position: relative; bottom: 75px;">
            <a href="/">Acceuil</a>
            <a href="https://www.manga-news.com/index.php/serie/news/Slam-dunk" target="_blank">News</a>
            <a href="/histoire">Histoire</a>
            <a href="/personnages">Personnages</a>
            <a href="/mangas">Mangas</a>
            <a href="/animes">Animes</a>
            <a href="/films">Films</a>
        </div>
        
        <div style="margin-bottom: 80px;">
            <div class="share">
                <img src="../public/img/tiktok_logo.png" alt="tiktok logo">
                <a style="margin-right: 66px;" href="https://www.tiktok.com/@abdessamadebouderga" target="_blank">Tiktok</a>
            </div>
            <div class="share">
                <img src="../public/img/insta_logo.png" alt="instagram logo">
                <a style="margin-left: 12px;" href="https://www.instagram.com/apsamade78/?next=%2F" target="_blank">Instagram</a>
            </div>
        </div>
    </aside>
</body>
</html>